################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin/Debug
/src/obj/Debug
/install/IsoCreatorToolInstall/Release
/packages
/src/bin/Release
/src/obj/Release
